{% load static %}
{% load show from user_filter %}
<!DOCTYPE html>
<html class="history svg video supports boxshadow csstransforms3d csstransitions backgroundcliptext webkit chrome win js sticky-header-enabled"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	

		<!-- Basic -->

		

		<meta http-equiv="X-UA-Compatible" content="IE=edge">	



		<title>30201 구자윤</title>
		<meta name="keywords" content="종합 웹">
		<meta name="description" content="종합 웹">
		<meta name="author" content="http://bihab0528.gabio.io">
		
		<meta property="og:type" content="website">
		<meta property="og:title" content="종합 웹">
		<meta property="og:description" content="종합 웹">
		<!--<meta property="og:image" content="./image/logo_g.png"> -->
		<meta property="og:url" content="http://bihab0528.gabio.io">
		<!--<meta name="naver-site-verification" content="614de5a6b22aa107b0d80872865a541fda2fb7f3"> 
		<meta name="google-site-verification" content="iF1AinSVaW4Iy7SUZCP1JnlgVlebGVnrnYaCKDsU2Qo"> -->
		<link rel="canonical" href="http://bihab0528.gabio.io">


			
		<script type="text/javascript" src="{% static 'wcslog.js' %}"></script>
		<script type="text/javascript">
		if(!wcs_add) var wcs_add = {};
		wcs_add["wa"] = "7ff8a4836d0978";
		if(window.wcs) {
		wcs_do();
		}
		</script>




		<!-- Favicon -->
		<link rel="shortcut icon" href="./images/logo-fa.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="./images/logo-fa-iphone.png">



		<!-- Mobile Metas -->

		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">



		<!-- Web Fonts  -->
		<link href="static/css" rel="stylesheet" type="text/css">



		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'all.min.css' %}">
		<link rel="stylesheet" href="{% static 'animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'simple-line-icons.min.css' %}">
		<link rel="stylesheet" href="{% static 'owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'magnific-popup.min.css' %}">


		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'theme.css' %}">
		<link rel="stylesheet" href="{% static 'theme-elements.css' %}">
		<link rel="stylesheet" href="{% static 'theme-blog.css' %}">
		<link rel="stylesheet" href="{% static 'theme-shop.css' %}">



		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{% static 'settings.css' %}">
		<link rel="stylesheet" href="{% static 'layers.css' %}">
		<link rel="stylesheet" href="{% static 'navigation.css' %}">

		

		<!-- Demo CSS -->





		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'skin-corporate-6.css' %}"> 


		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'custom.css' %}">



		<!-- Head Libs -->

		<script src="{% static 'modernizr.min.js' %}"></script>


	<link rel="stylesheet" href="{% static 'jquery.mCustomScrollbar.css' %}"></head>
		

	<body class="" data-plugin-page-transition="" data-loading-overlay="" data-plugin-options="{&#39;hideDelay&#39;: 500}">

		<div class="loading-overlay">

			<div class="bounce-loader">

				<div class="bounce1"></div>

				<div class="bounce2"></div>

				<div class="bounce3"></div>

			</div>

		</div>



		<div class="body">

			<header id="header" class="header-effect-shrink" data-plugin-options="{&#39;stickyEnabled&#39;: true, &#39;stickyEffect&#39;: &#39;shrink&#39;, &#39;stickyEnableOnBoxed&#39;: true, &#39;stickyEnableOnMobile&#39;: true, &#39;stickyChangeLogo&#39;: true, &#39;stickyStartAt&#39;: 120, &#39;stickyHeaderContainerHeight&#39;: 70}" style="height: 104px;">

				<div class="header-body" style="position: fixed;">

					<div class="header-container container" style="height: 100px;">

						<div class="header-row">

							<div class="header-column">

								<div class="header-row">

									<div class="header-logo" style="width: 140px; height: 51.3281px;">

										<a href="">

											<img alt="종합 웹" data-sticky-width="140" width="140" src="{% static 'logo_2.png' %}">

										</a>

									</div>

								</div>

							</div>
							<div class="header-column justify-content-end header-mobile">

								<div class="header-row">

									<div class="header-nav header-nav-links order-2 order-lg-1">

										<div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">

											<nav class="collapse">

												<ul class="nav nav-pills" id="mainNav">

												<li class="dropdown">
													<a class="dropdown-item dropdown-toggle " href="" >홈<i class="fas fa-chevron-down"></i></a>
												</li>

												<li class="dropdown">
													<a class="dropdown-item dropdown-toggle " href="/listTrend">IT트렌드<i class="fas fa-chevron-down"></i></a>
												</li>

												<li class="dropdown">
													<a class="dropdown-item dropdown-toggle " href="/listCorona">코로나안내<i class="fas fa-chevron-down"></i></a>
												</li>

												<li class="dropdown">
													<a class="dropdown-item dropdown-toggle " href="/listGame">게임소식<i class="fas fa-chevron-down"></i></a>
												</li>

				
													
											</ul></nav>

										</div>

										<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">

											<!-- <i class="fas fa-bars"></i> -->
											<div class="mobile-menu">
												<span class="mobile-bar mobile-bar-1"></span>
												<span class="mobile-bar mobile-bar-2"></span>
												<span class="mobile-bar mobile-bar-3"></span>
											</div>

										</button>

									</div>

								

								</div>

							</div>


						</div>

					</div>

				</div>

			</header>



		
			<!-- sub Page Title
			============================================= -->
		
		
				
		<div role="main" class="main"><section class="section appear-animation animated appear-animation-visible" data-appear-animation="fadeIn">
	<div class="container sub-result">
		<div class="row about_wrap">
				
			<div class="col-12 appear-animation result-tap-wrap animated appear-animation-visible" data-appear-animation="fadeInDownShorter" data-appear-animation-delay="0">
				
				<div class="result-tap-inner mCustomScrollbar _mCS_1" data-mcs-theme="dark-thin"><div id="mCSB_1" class="mCustomScrollBox mCS-dark-thin mCSB_horizontal mCSB_inside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px; width: 850px; min-width: 100%; overflow-x: inherit;" dir="ltr">
					<ul class="nav nav-pills result-tap" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{&#39;layoutMode&#39;: &#39;masonry&#39;, &#39;filter&#39;: &#39;*&#39;}">	
						<li class='nav-item {{first.status_t}}'><a class="nav-link text-uppercase" href="/listTrend">IT트렌드</a></li>
						<li class="nav-item {{first.status_c}}"><a class="nav-link text-uppercase" href="/listCorona">코로나19</a></li>
						<li class="nav-item {{first.status_g}}"><a class="nav-link text-uppercase" href="/listGame">게임소식</a></li>
					</ul>
				</div>
				
				<!-- <div id="mCSB_1_scrollbar_horizontal" class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark-thin mCSB_scrollTools_horizontal mCSB_scrollTools_onDrag_expand" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 30px; display: block; width: 306px; max-width: 500px; left: 0px;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div> -->
			
				<div class="mt-4 pt-2">					
					
					<div class="row result-content" data-sort-id="portfolio">
						<!-- 데이터중 10개 사용 -->
						{% for i in '0123456789' %}
							<div class="col-12 isotope-item">
								<div class="portfolio-item">
									<div class="row">
										
										<div class="col-lg-9 col-md-8">
											<!-- 필터 직접 만들어서 사용 -->
											<h3>{{second.title|show:i}}</h3>	
											
											<p>{{second.text|show:i}}</p>
									
											<h5><span class="result-data">관련:</span>{{second.info|show:i}}</h5>
											<h5><span class="result-data">주소:</span><a href = '{{second.link|show:i}}'>{{second.link|show:i}}</a></h5>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}	
						
					</div>
					

				</div>

			</div>
		</div>

	</div>
</section>


 	</div>


		</div>



		<!-- Vendor -->
		<script src="static/jquery.min.js"></script>
		<script src="static/jquery.appear.min.js"></script>
		<script src="static/jquery.easing.min.js"></script>
		<script src="static/jquery.cookie.min.js"></script>
		<script src="static/popper.min.js"></script>
		<script src="static/bootstrap.min.js"></script>
		<script src="static/common.min.js"></script>
		<script src="static/jquery.validate.min.js"></script>
		<script src="static/jquery.easypiechart.min.js"></script>
		<script src="static/jquery.gmap.min.js"></script>
		<script src="static/jquery.lazyload.min.js"></script>
		<script src="static/jquery.isotope.min.js"></script>
		<script src="static/owl.carousel.min.js"></script>
		<script src="static/jquery.magnific-popup.min.js"></script>
		<script src="static/jquery.vide.min.js"></script>
		<script src="static/vivus.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="static/theme.js"></script>

		

		<!-- Current Page Vendor and Views -->
		<script src="static/jquery.themepunch.tools.min.js"></script>
		<script src="static/jquery.themepunch.revolution.min.js"></script>
		<script src="static/jquery.flipshow.min.js"></script>
		<script src="static/view.home.js"></script>



		<!-- Current Page Vendor and Views -->
		<script src="static/view.contact.js"></script>
		


		<!-- Demo -->
		<script src="static/demo-education.js"></script>


		<!-- Theme Custom -->
		<script src="static/custom.js"></script>

		

		<!-- Theme Initialization Files -->
		<script src="static/theme.init.js"></script><a class="scroll-to-top" href=''><i class="fas fa-chevron-up"></i></a>




<script src="static/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    (function($){
        $(window).on("load",function(){
            $(".result-tap-inner").mCustomScrollbar({
				axis:"x",
				theme:"dark-thin",
				autoExpandScrollbar:true,
				advanced:{autoExpandHorizontalScroll:true}
			});
        });
    })(jQuery);
</script></body></html>